<div class="event_card card-style-1">
     
        <div class="event_header">{{event.event_name}} </div>
        <h5 class="event_type">{{event.event_type}} on {{ format_time event.event_date}}</h5>
          <p class="event_details"> event posted by {{event.user.first_name}} {{event.user.last_name}}</p>
          <p class="event_details">{{event.user.first_name}} needs {{event.vol_num}} volunteers!</p>
          <p class="event_details">this is event is near {{event.event_zip}} {{event.event_state}}</p>
          <a href="/views/event-details.handlebars" class="volunteer_btn">get more details!</a>
</div>

<!--
      <div class="event_card card-style-2">
     
        <div class="event_header">{{event.event_name}} </div>
        <h5 class="event_type">{{event.event_type}} on {{ format_time event.event_date}}</h5>
          <p class="event_details"> event posted by {{event.user.first_name}} {{event.user.last_name}}</p>
          <p class="event_details">{{event.user.first_name}} needs {{event.vol_num}} volunteers!</p>
          <p class="event_details">this is event is near {{event.event_zip}} {{event.event_state}}</p>
          <a href="#" class="volunteer_btn">get more details!</a>
      </div>

      <div class="event_card card-style-3">
     
        <div class="event_header">{{event.event_name}} </div>
        <h5 class="event_type">{{event.event_type}} on {{ format_time event.event_date}}</h5>
          <p class="event_details"> event posted by {{event.user.first_name}} {{event.user.last_name}}</p>
          <p class="event_details">{{event.user.first_name}} needs {{event.vol_num}} volunteers!</p>
          <p class="event_details">this is event is near {{event.event_zip}} {{event.event_state}}</p>
          <a href="#" class="volunteer_btn">get more details!</a>
      </div>
      -->