 <div class="event_card card-style-3">
     
            <div id="alleventname" class="event_header">{{event.event_name}} </div>
            <h5 id="alleventtype" class="event_type"> on {{ format_time event.event_date}}</h5>
              <p id="alleventdescription"class="event_details"> {{event.event_description}}</p>
              <p id="alleventvol" class="event_details">we need {{event.vol_num}} volunteers </p>
              <p class="event_details"> <span id="alleventszip">{{event.event_zip}} </span> <span id="alleventstate"> {{event.event_state}} </div></p>
              <button type="button" id="moredetails" class="dashBtn"> more details! </button>
    </div>