 <div class="event_card card-style-2">
     
        <div class="event_header">{{user.volunteerEvent_id.event.event_name}}</div>
        <h5 class="event_type">{{user.volunteerEvent_id.event.event_type}} on {{ format_time user.volunteerEvent_id.event.event_date}}</h5>
          <p class="event_details"> {{user.volunteerEvent_id.event.event_description}}</p>
          <p class="event_details">{{user.volunteerEvent_id.event.event_address}} {{user.volunteerEvent_id.event.event_state}} {{user.volunteerEvent_id.event.event_zip}}</p>
          <a href="/views/event-details.handlebars"><button type="button" class="dashBtn"> more details! </button></a>
    </div>
      
