<section>
  
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{event.event_type}}</h5>
        <p class="card-text"> {{event.event_name}} on {{event.event_date}}
        <p class="card-text">{{event.event_description}}</p>
        <p class="card-text">this is event is near {{event.event_zip}} {{event.event_state}} </p>
        <p class="card-text"> event posted by {{event.user.first_name}} {{event.user.last_name}} </p>
        <p class="cardtext"> {{event.user.first_name}} needs {{event.vol_num}} volunteers! </p>
        <a href="#" class="btn btn-primary"><button>give a hand!</button></a>
      </div>
    </div>
</section>
   