<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/jass.css">
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="./css/modal.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poor+Story&family=Quicksand&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./css/eventstyle.css">
  <link rel="stylesheet" href="./css/dashboard.css">
  <title>Helping Hands</title>
  </head>


<body class="bgcolor">
<header class="homepageNav">
<button id= "myEventsBtn" class="homepage_btn" type="button">my events</button>
<button type="button" id="allEventsBtn" class="all_events homepage_btn">all events</button> 
<button type="button" class="logout_btn homepage_btn">logout</button>
</header>
      <h1 class="main-header">
        helping hands
      </h1>
  
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
      <button type="click" class="homepage_btn" id="myEventsBtn">welcome back!</button> 
     {{else}}
      <button type="click" class="homepage_btn" id="loginPage"> go to login! </button>
        {{/if}}
  
    <main id="mainContainer">
      <!-- Render the sub layout -->
      {{{ body }}}
    
    </main>
    
    
  <footer>
  </footer>
 
  </body>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="./js/logout.js"></script>
  {{/if}}

<script src="./js/login.js"></script>
</html>

<!--.................-->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/jass.css">
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="./public/css/modal.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poor+Story&family=Quicksand&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./css/eventstyle.css">
  <link rel="stylesheet" href="./css/dashboard.css">
  
  <title>Helping Hands</title>
  
</head>
<body class="flex bgcolor"></body>

    <div class="detailed-event-card">

    <h1 id="speceventname">{{event.event_name}}</h1>
    <h3 id="speceventtype">{{event.event_type}}</h3>

    {{!-- <p id="speceventdate" >{{ format_time event.event_date}}</p> --}}
    <p id="speceventdesc" class="desc-detail">{{event.event_description}}</p>
    <div id="speceventstate"> {{event.event_state}}</div> <div id="speceventzip">{{event.event_zip}} </div> 
    <p id="specvolnum" > we need {{event.volnum}} volunteers!</p>
    <h3 >created by: <div id="speceventusername">{{event.user.first_name}} </div> <div id="speceventuserlname"> {{event.user.last_name}} </div> </h3>
    
    <footer class="homepageNav flex">
        <div class="footerPos">
            <button id= "volBtn" class="footerBtn" type="button">give a hand</button>
        <button id= "myEventsBtn" class="footerBtn" type="button">my
            events</button>
        <button id="allEventsBtn" class="footerBtn" type="button">all events</button>
        </div>
    </footer>
    
    </div>
</body>
</html>