<h1>{{event.event_name}}</h1>
<h3>{{event.event_type}}</h3>
<p>{{event.event_description}}</p>
<p>{{event.event_date}}</p>
<p>{{event.event_address}} {{event.event_state}} {{event.event_zip}} </p>
<p>{{event.volnum}}</p>
<h3>created by: {{event.user.first_name}} {{event.user.last_name}}</h3>

<a href="./dashboard.handlebars"><button class="volunteer_btn" type="button">my
    events</button></a>
<a href="./homepage.handlebars"><button class="volunteer_btn" type="button">see
    all events</button></a>